<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p class="custom-welcome-message">Welcome <%= @email %>!</p>
          <p>You can confirm your account email through the link below:</p>
          <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
